.advantages {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.advantages-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;

  &__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__title {
    color: $main-color;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16.41px / 14px);
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }

  &__text {
    color: $secondary-color;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    list-style-type: none;
  }

  &__icon {
    width: 450px;
    padding-top: 25px;
    padding-bottom: 25px;
    border: solid 1px $background-light;
    background-color: $background-light;
    border-radius: 4%;
  }
}

@media (min-width: 768px) {
  .advantages {
    margin-bottom: 90px;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
  }

  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: left;
    gap: 30px;
    &__item {
      max-width: 354px;
    }
    &__title {
      text-align: left;
      justify-content: left;
    }
    &__icon {
      width: 354px;
    }
  }
}
@media (min-width: 1200px) {
  .advantages {
    display: flex;
    flex-direction: row;
  }

  .advantages-list {
    flex-direction: row;
    gap: 30px;
    &__item {
      max-width: 270px;
    }
    &__title {
      text-align: left;
    }
    &__icon {
      max-width: 270px;
    }
  }
}
