.button-mobi {
  background-color: $higlight;
  color: $contrast-color;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30px / 16px);
  letter-spacing: 0.06em;
  cursor: pointer;
  border: $higlight solid;
  border-radius: 4px;
}

.main-button {
  @extend.button-mobi;
  padding-top: 10px;
  padding-right: 41px;
  padding-bottom: 10px;
  padding-left: 42px;
}
.modal-close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 23px;
  height: 30px;
  width: 30px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: $contrast-color;
  cursor: pointer;
}
.newsletter-button {
  @extend.button-mobi;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 42px;
  width: 200px;
  &__icon {
    position: absolute;
    left: 148px;
    top: 13px;
    bottom: 13px;
  }
}

.tac-button {
  @extend.button-mobi;
  padding-top: 10px;
  padding-right: 76px;
  padding-bottom: 10px;
  padding-left: 76px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
@media (min-width: 768px) {
}
@media (min-width: 1200px) {
  .button-desk {
    background-color: $higlight;
    color: $contrast-color;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: calc (16px / 30px);
    letter-spacing: 0.06em;
    cursor: pointer;
    border: $higlight solid;
    border-radius: 4px;
  }

  .main-button {
    @extend.button-desk;
    padding-top: 10px;
    padding-right: 41px;
    padding-bottom: 10px;
    padding-left: 42px;
    margin-left: 500px;
    margin-bottom: 106px;
  }
  .newsletter-button {
    @extend.button-desk;
    position: relative;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-right: 42px;
    margin-top: 37px;
    width: 200px;
    &__icon {
      position: absolute;
      left: 148px;
      top: 13px;
    }
  }
  .tac-button {
    @extend.button-desk;
    padding-top: 10px;
    padding-right: 76px;
    padding-bottom: 10px;
    padding-left: 76px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 30px 164px 40px 164px;
  }
}
