.clients-title {
  color: $main-color;
  text-decoration: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  margin-left: 495px;
  margin-bottom: 50px;
}

.clients-list {
  list-style-type: none;
  display: flex;
  gap: 30px;

  &__logo {
    fill: $icons-fill;
    width: 170px;
    height: 90px;
    border: solid 1px $icons-fill;
    border-radius: 4px;
    padding-left: 32px;
    padding-top: 17.7px;
    padding-right: 14.2px;
    padding-bottom: 14.2px;
  }

  &__logo:hover {
    fill: $higlight;
    border-color: $higlight;
    transition: $trans;
  }

  &__logo:focus {
    fill: $higlight;
    border-color: $higlight;
    transition: $trans;
  }
}
