.clients {
  margin-bottom: 30px;
}
.clients-title {
  text-align: center;
  color: $main-color;
  text-decoration: none;
  font-weight: 700;
  font-size: 28px;
  line-height: calc(32.818px / 28px);
  letter-spacing: 0.03em;
}

.clients-list {
  list-style-type: none;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  gap: 30px;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    width: 210px;
    outline: none;
    border: solid 1px $icons-fill;
    border-radius: 4px;
  }
  &__logo {
    fill: $icons-fill;
    transition: $trans;
  }
  &__item:hover {
    border: 1px solid $higlight;
    transition: $trans;
  }

  &__item:focus {
    border: 1px solid $higlight;
    transition: $trans;
  }
  &__item:hover &__logo {
    transition: $trans;
    fill: $higlight;
  }
  &__item:focus &__logo {
    transition: $trans;
    fill: $higlight;
  }
  &__logo:hover {
    transition: $trans;
    fill: $higlight;
    cursor: pointer;
  }

  &__logo:focus {
    fill: $higlight;
    transition: $trans;
    border-color: $higlight;
  }
}
@media (min-width: 768px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__item {
      width: 226px;
    }
  }
}

@media (min-width: 1200px) {
  .clients {
    margin-bottom: 90px;
  }
  .clients-title {
    font-size: 36px;
    line-height: 1.172;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
  .clients-list {
    &__item {
      width: 170px;
    }
  }
}
