.footnote {
  background-color: $background-dark;
  padding-top: 60px;
  padding-bottom: 60px;
  &-organizer {
    display: flex;
    flex-direction: column;
    max-width: 480px;
  }
}

.fleft {
  margin-bottom: 60px;
  text-align: center;
}

.fleft-list {
  list-style: none;
  text-decoration: none;
  padding: 0px;
  &__text {
    margin-top: 9px;
    margin-bottom: 9px;
    color: $contrast-color;
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
  }
  &__item {
    margin-top: 9px;
    margin-bottom: 9px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
  }

  &__item:hover {
    color: $higlight;
    transition: $trans;
  }

  &__item:focus {
    color: $higlight;
    transition: $trans;
  }
}
.fmiddle {
  text-align: center;
  margin-bottom: 60px;
  &__title {
    color: $contrast-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 16.41px;
    text-transform: uppercase;
    letter-spacing: 00.03em;
    margin-bottom: 20px;
    margin-top: 0px;
  }
}
.fmiddle-list {
  list-style-type: none;
  display: flex;
  padding: 0px;
  justify-content: center;
  margin-bottom: 30px;
  gap: 10px;
}

.newsletter {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  justify-content: center;

  &__label {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__input {
    background-color: $background-dark;
    color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 90%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    outline: none;
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  .footnote-organizer {
    max-width: 1199px;
  }
  .footer-tablet {
    display: flex;
    justify-content: space-evenly;
    gap: 144px;
  }
  .newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__input {
      width: 90%;
    }
  }
}
@media (min-width: 1200px) {
  .footnote {
    display: flex;
    margin: 0px;
  }
  .footnote-organizer {
    display: flex;
    flex-direction: row;
  }
  .footer-tablet {
    gap: 0px;
    max-width: 1200px;
    justify-content: space-evenly;
  }
  .fleft {
    text-align: left;
    margin-right: 70px;
    margin-bottom: 0px;
  }
  .fmiddle {
    margin-right: 78px;
    padding-top: 8px;
    &__title {
      margin: 0px;
      text-align: left;
    }
  }
  .newsletter {
    flex-direction: row;
    &__label {
      padding: 0px;
      justify-content: left;
      width: 358px;
    }
  }
}
