.header-border {
  border-bottom: solid;
  border-color: #ececec;
  border-width: 1px;
  display: flex;
  padding-top: 16px;
  padding-left: 15px;
  margin-bottom: 0px;
}
.main-nav__links {
  display: none;
}
.contact-links {
  display: none;
}
@media (min-width: 768px) {
  .header-border {
    padding-top: 26px;
    justify-content: center;
  }
  .logo-header {
    position: absolute;
    top: 26px;
    left: 15px;
  }
  .main-nav {
    display: flex;
    margin: 0px;
    padding: 0px;
    &__links {
      list-style-type: none;
      margin: 0px;
      padding-left: 0px;
      display: flex;
      gap: 60px;
      padding-top: 4px;
    }

    &__link {
      color: $main-color;
      text-decoration: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.172;
      letter-spacing: 0.02em;
    }

    &__link:hover {
      color: $higlight;
      transition: $trans;
    }

    &__link:focus {
      color: $higlight;
      transition: $trans;
    }

    &__link--active {
      color: $higlight;
    }

    &__link--active::after {
      content: '';
      display: flex;
      margin-top: 28px;
      background-color: $higlight;
      height: 4px;
      border-radius: 2px;
    }
  }
  .contact-links {
    position: absolute;
    right: 15px;
    top: 21px;
    display: flex;
    flex-direction: column;
    margin: 0px;
    list-style-type: none;
    list-style-type: none;

    &__link {
      color: $secondary-color;
      text-decoration: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.172;
      letter-spacing: 0.02em;
      vertical-align: middle;
      cursor: pointer;
      fill: $secondary-color;
      margin: 0px;
    }
    &__icon {
      fill: $secondary-color;
      margin: 0px;
    }

    &__item:hover &__link {
      color: $higlight;
      transition: $trans;
    }
    &__item:hover &__icon {
      fill: $higlight;
      transition: $trans;
    }

    &__item:focus &__link {
      color: $higlight;
      transition: $trans;
      fill: $higlight;
    }
    &__item:focus &__icon {
      transition: $trans;
      fill: $higlight;
    }
  }
}
@media (min-width: 1200px) {
  .logo-header {
    left: 215px;
  }
  .header-border {
    padding-top: 24px;
  }

  .main-nav {
    &__links {
      gap: 46px;
      padding-top: 8px;
      margin-right: 393px;
    }
  }
  .contact-links {
    flex-direction: row;
    padding-right: 227px;
    padding-top: 8px;
    padding-bottom: 7px;
    gap: 30px;
  }
}
