.logo {
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: $logo-dark;
  line-height: 1.1738;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo--blue {
  color: $higlight;
}

.logo--white {
  color: $contrast-color;
}
