.team-container {
  padding-bottom: 30px;
}
.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background-light;

  &__title {
    color: $main-color;
    text-decoration: none;
    font-weight: 700;
    font-size: 28px;
    line-height: calc (32.81px / 28px);
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 30px;
  }
}

.team-list {
  list-style-type: none;
  display: block;
  text-align: center;
  padding: 0px;

  &__figure {
    margin: 0;
    padding-bottom: 24px;
  }

  &__img {
    margin: 0;
  }

  &__item {
    border-right: solid #ececec 1px;
    border-bottom: solid #ececec 1px;
    border-left: solid #ececec 1px;
    box-shadow: $shadow;
    background-color: $contrast-color;
    margin-bottom: 30px;
    margin: 0px;
    width: 90%vw;
    margin-bottom: 30px;
  }

  &__item-name {
    color: $main-color;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.171;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  &__item-role {
    color: $secondary-color;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    line-height: 1.171;
    letter-spacing: 0.03em;
  }
}
@media (min-width: 768px) {
  .team {
    .team-list {
      max-width: 768px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-evenly;
      gap: 30px;
    }
  }
  @media (min-width: 1200px) {
    .team {
      margin-bottom: 90px;
      padding-top: 64px;
      &__title {
        font-size: 36px;
        line-height: 1.172;
        margin-bottom: 50px;
      }
    }

    .team-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 30px;
      text-align: center;

      &__item {
        width: 270px;
      }
    }
  }
}
