body {
  color: $main-color;
  font-family: 'Roboto', sans-serif;
  max-width: 767px;
  position: relative;
}

section {
  max-width: 767px;
}
.container {
  margin: 0 auto;
  padding: 0;
  max-width: 480px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  body {
    max-width: 1199px;
  }
  section {
    max-width: 1199px;
    margin: 0 auto;
  }
  .container {
    max-width: 1199px;
  }
}
@media (min-width: 1200px) {
  section {
    max-width: 1600px;
  }

  body {
    max-width: 1600px;
  }
  .container {
    max-width: 1200px;
  }
}
