* {
  margin: 0px auto;
  padding: 0px;
}

body {
  color: $main-color;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  width: 1600px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
